body {
  background-image: url('../img/background.jpg');
  color: white;
  margin: 0px;
}

.game-bar {
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, .4);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.player-wins {
  float: right;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.player-losses {
  float: right;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.player-hand-container {
  margin-left: 20px;
  clear: left;
}
.dealer-hand-container {
  margin-left: 20px;
  clear: left;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 0 2px 0 2px;
  text-decoration: none;
}

.btn:hover {
  background: #00c400;
  background-image: -webkit-linear-gradient(top, #00c400, #278a00);
  background-image: -moz-linear-gradient(top, #00c400, #278a00);
  background-image: -ms-linear-gradient(top, #00c400, #278a00);
  background-image: -o-linear-gradient(top, #00c400, #278a00);
  background-image: linear-gradient(to bottom, #00c400, #278a00);
  text-decoration: none;
}

.hit-button {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #a80022);
  background-image: -moz-linear-gradient(top, #ff0000, #a80022);
  background-image: -ms-linear-gradient(top, #ff0000, #a80022);
  background-image: -o-linear-gradient(top, #ff0000, #a80022);
  background-image: linear-gradient(to bottom, #ff0000, #a80022);
}

.stand-button {
  background: #0000ff;
  background-image: -webkit-linear-gradient(top, #0000ff, #0091ff);
  background-image: -moz-linear-gradient(top, #0000ff, #0091ff);
  background-image: -ms-linear-gradient(top, #0000ff, #0091ff);
  background-image: -o-linear-gradient(top, #0000ff, #0091ff);
  background-image: linear-gradient(to bottom, #0000ff, #0091ff);
  -webkit-border-radius: 28;
}

.back {
  transition        : 1.0s linear;
  -webkit-transform: rotateY(-180deg);
}

.reveal-first-half {
    transition        : 1.0s linear;
    -webkit-transform : rotateY(-90deg);
}
.reveal-last-half {
    transition        : 1.0s linear;
    -webkit-transform : rotateY(0deg);
}

.reveal {
    transition        : 2.0s linear;
    -webkit-transform : rotateY(0deg);
}

