/*.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
*/
#dealer-hand-container {
  clear: left;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00c400;
  background-image: -webkit-linear-gradient(top, #00c400, #278a00);
  background-image: -moz-linear-gradient(top, #00c400, #278a00);
  background-image: -ms-linear-gradient(top, #00c400, #278a00);
  background-image: -o-linear-gradient(top, #00c400, #278a00);
  background-image: linear-gradient(to bottom, #00c400, #278a00);
  text-decoration: none;
}

.hit-button {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #a80022);
  background-image: -moz-linear-gradient(top, #ff0000, #a80022);
  background-image: -ms-linear-gradient(top, #ff0000, #a80022);
  background-image: -o-linear-gradient(top, #ff0000, #a80022);
  background-image: linear-gradient(to bottom, #ff0000, #a80022);
}

.stand-button {
  background: #0000ff;
  background-image: -webkit-linear-gradient(top, #0000ff, #0091ff);
  background-image: -moz-linear-gradient(top, #0000ff, #0091ff);
  background-image: -ms-linear-gradient(top, #0000ff, #0091ff);
  background-image: -o-linear-gradient(top, #0000ff, #0091ff);
  background-image: linear-gradient(to bottom, #0000ff, #0091ff);
  -webkit-border-radius: 28;
}

.back {
  transition        : 1.0s linear;
  -webkit-transform: rotateY(-180deg);
}

.reveal-first-half {
    transition        : 1.0s linear;
    -webkit-transform : rotateY(-90deg);
}
.reveal-last-half {
    transition        : 1.0s linear;
    -webkit-transform : rotateY(0deg);
}


.reveal {
    transition        : 2.0s linear;
    -webkit-transform : rotateY(0deg);
}
/*.reveal-last-half {
    transition        : 1.0s linear;
    -webkit-transform : rotateY(180deg);
}*/
